.screen {
    background-color: white;
    height: 60px;
    border-radius: 5px;
    grid-column: span 4;
    margin-bottom: 10px;
    padding-right: 15px;
    color: #000000;
    font-size: 3em;
    font-weight: 700;
    text-align: right;
    overflow-x: scroll;
}
