.calculator-container {
    background-color: black;
    padding: 1em;
    border-radius: 25px;
    padding: 20px;
    width: 350px;
}

.calculator-container .grid-container {
    grid-gap: 0.7em 1em;
    justify-content: center;
    align-items: center;
}

.display-container {
    background-color: white;
    height: 60px;
    border-radius: 5px;
    grid-column: span 4;
    margin-bottom: 10px;
    padding-right: 15px;
    color: #000000;
    font-size: 3em;
    font-weight: 700;
    text-align: right;
    overflow-x: scroll;
}

.display-container h2 {
    font-size: inherit;
    margin: 0;
}

.grid-container {
    display: grid;
}

.grid-4-column {
    grid-template-columns: repeat(4, minmax(0, 1fr));
}

.grid-container .col-4 {
    grid-column-start: span 4;
}

.grid-container .col-2 {
    grid-column-start: span 2;
}

.calculator-button {
    font-weight: 700;
    font-size: 2em;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}

.calculator-button:focus {
    background-color: grey;
}

.bg-orange {
    background-color: orange;
}
