* {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}

.cal-container {
    background-color: #000000;
    width: 350px;
    border-radius: 25px;
    display: grid;
    padding: 20px 20px 20px 20px;
}

#screen {
    background-color: white;
    height: 60px;
    border-radius: 5px;
    grid-column: span 4;
    margin-bottom: 10px;
    padding-right: 15px;
    color: #000000;
    font-size: 3em;
    text-align: right;
}

.grid-item {
    grid-template: repeat(5, 1fr) / repeat(4, minmax(200px, 1fr));
    margin: 5px;
    font-size: 2em;
    border-radius: 5px;
    border: none;
}

.grid-item:hover {
    background-color: #555555;
    color: white;
}

.zero {
    grid-column: span 2;
}

.equals {
    grid-column: span 4;
    background-color: #ffa500;
}

.equals:hover {
    background-color: #cc5500;
    color: white;
}
